{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {% endblock %} {% block body %}
    <body>
    <h1>Review Image</h1>
    <h3>Image Name: {{ img_name }}</h3>
    <h3>Caption: {{ img_caption }}</h3> <button class="btn btn-danger btn-xs" onclick="myFunction()">Edit</button>
    <p id="demo"></p>
    <div id="editioncaption" style="display: none;">
        <form method="post"  action="/editcaption">
            <span>Edition of Caption: </span><input type="text" name="updatedvalue"value="{{ img_caption }}"/>
            <button class="btn btn-danger btn-xs">Submit</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover table-dark text-center">
            <tbody>
            <tr>
                <th><b>Questions</b></th>
                <th><b>Answers</b></th>
                <th><b>Edit</b></th>
            </tr>
            <tr>
                <td>Question</td>
                <td>Answer</td>
                <td>
                    <a href="/" class="btn btn-danger btn-xs">Edit</a>
                    <a href="/" class="btn btn-warning btn-xs">Speech</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
    <script>
        function myFunction() {
          document.getElementById("editioncaption").style.display = "block";
        }
        </script>
{% endblock %}