{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {% endblock %} {% block body %}
    <body>
    <h1>Review Image</h1>
    <h3>Image Name: {{ img_name }}</h3>
    <form method="post">
        <h2>Caption</h2>
        <th>This is where the caption goes</th>
        <th>
            <a href="/" class="btn btn-danger btn-xs">Edit</a>
        </th>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover table-dark text-center">
            <tbody>
            <tr>
                <th><b>Questions</b></th>
                <th><b>Answers</b></th>
                <th><b>Edit</b></th>
            </tr>
            <tr>
                <td>Question</td>
                <td>Answer</td>
                <td>
                    <a href="/" class="btn btn-danger btn-xs">Edit</a>
                    <a href="/" class="btn btn-warning btn-xs">Speech</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}